<%- include('../shared/header.ejs') %>

    <main>
      <h2>About</h2>
      <p>CVTC Username: jhoffman37</p>
      <p>GitHub: <a href="https://github.com/it-sd/sqc-project-jhoffman37">Adopt A Pet Family</a></p>
      <p>
        The purpose of Adopt A Pet Family is to help every pet who has been tossed into a shelter have a better chance at finding their forever home. It allows adopter's to simplify the process of finding a pet and applying online. It also gives filters to help modify your search so you can find the pet of your dreams quicker.
      </p>
    </main>
  </body>
</html>